.card {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 330px; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px); 
}

.card-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    position: relative; 
    color: black;
}

.card-image {
    flex: 1; 
    width: 100%;
    object-fit: cover; 
    height: 400px; 
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-image {
    transform: scale(1.1); 
}

.card-content:hover {
    color: gray;
}

.card-title {
    padding: 15px 0px;
    font-weight: bold;
}


@media (max-width: 600px) {

    .card {
        width: 45%;
    }

}
