.recipes-wrapper {
    width: 80%;
    margin: auto;
}

.recipes-wrapper h1 {
    text-align: left;
}

.recipes-search-bar {
    width: 50%;
}

.all-recipes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.pagination button.active {
    background-color: #333;
    color: #fff;
    cursor: default;
}